/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2021, 06:04:58 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/

.tooltip-bts-alerts.list-btns-actions {
    background: transparent;
    border: 0px;
    width: 86px;
    padding: 0px;
    margin: 3px 0px 0px 0px;
}

.tooltip-bts-alerts {
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 4px 2px;
    margin: 3px 0px 0px 0px;
    width: 90px;
    z-index: 9999;
}

.tooltip-bts-alerts-hidden {
    display: none;
}

@keyframes hiddenBt {
    from {background-color: red;}
    to {background-color: yellow;}
}

button.aling-line {
    display: flex;
    align-items: baseline;
}

.bg-primary-plyr {
    background-color: #0054BC !important;
}

.bg-primary-plyr h1, .bg-primary-plyr h2, .bg-primary-plyr h3, .bg-primary-plyr h4, .bg-primary-plyr h5, .bg-primary-plyr h6{
    color: #ffffff !important;
}

.list-btns-actions .btn, .list-btns-actions form .btn {
    width: 87%;
    margin: 2px 0px;
}

.list-flex-conten-btns {
    position: relative;
    margin: 0px auto;
    width: 86px;
    background: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
}

.float-right-btn-force {
    display: grid;
}